*{
	margin:0;
	padding:0;

}
body
{
	font-family: sans-serif;
}
#nav-bar
{
	position:sticky;
	top:0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	padding: 0 !important;
}
.navbar-nav li{
	padding: 0 10px;

}
.navbar-nav li a{
	color:#fff !important;
	font-weight: 600;
	float: right;
	text-align: left;
}
 .fa-bars{
 	color: #fff;
 	font-size: 30px !important;
 }
 .navbar-toggler{
 	outline:none !important;
 }
 /*---------------- banner section-----------*/
 #banner{
 	background-image: linear-gradient(to right, #a517ba,#5f1782);
 	color: #fff;
 	padding-top: 5%;
 }
 .promo-title{
 font-size: 60px;
 font-weight: 600;
 margin-top: 100px;  
}
.intro{
	font-size: 40px;
 font-weight: 300;
 margin-top: 100px;  

}
.img-fluid
{
	height: 200px;
	width: 200px;
}
/*----------------about section--------*/

.change{
	font-size:50px;
	color: black;

}

.myself{
	font-size: 30px;
}
/*------------------skillbar---------*/

.progress
{
	width: 400px;
	margin:100px;
	line-height: 1.75px
	


}
.skill{
	font-size:50px;
	color: black;
	margin: 100px


}
.one{
	
	margin: 100px;
}
.two{
	margin: 100px;
}
.three{
	margin: 100px;
}
.four{
	margin: 100px;
}
/*------------------------PROJECT------------*/
#project
{
	
	background-image: linear-gradient(to right, #a517ba,#5f1782);
 	color: #fff;

}
.diagram{
	height: 400px;
	width: 500px;

}



/*-----------------contact-------------*/
.mail{
	height: 50px;
	width: 50px;
}
.linkedin{
	height: 50px;
	width: 50px;

}
.connect{
	margin: 100px;

}
.right{
	text-align: right;
}
/*-----------------------------CONTACT------*/
#contact
{
	background:#f8f9fa;
	paddind: 200px 0;
}
#contact p{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}
.icons img{
	width:60px;
	transition: 0.5s;
}
.icons a:hover img
{
	transform:translateY(-10px);

}
/*contact*/
.message{
	margin: 100px;
	padding: 100px 15px;
	background-color: #f5f8fd;

}
.message .section-title h1:before{
	left:30%;

}
.message.contact-form{
	background-color: #ffffff;
	flex:0 0 100%;
	max-width:100%;
	padding: :40px;
	border:1px solid #eeeeee;
}
.message .contact-form .text{
	flex: 0 0 100%;
	max-width: 100%;
	padding-bottom: 20px;
}
.message .contact-form .text h2{
	font-size: 25px;
	font-weight: 600;
	color:#000000;
	margin:100;
	padding:0;

}
.message .contact-form .space-between{
	justify-content: :space-between;
}
.message .contact-form .col-6{
	
	flex: 0 0 calc(50% - 15px);
	max-width:calc(50%-15px);

}
.message .contact-form .col-12{
	flex:100;
	max-width:100;


}
.message .contact-form .form-control{
height:45px;
width:100%;
margin-bottom:15%;
border:1px solid #ced4da;
padding:6px 12px;
font-size: 14px;
font-weight: 400;
}
.message .contact-form textarea .form-control{
	height:140px;
}

.message .contact-form .form-control::placeholder{
	color:#838383;
}
